        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2df;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        nav {
            text-align: right;
        }

        nav h1 {
            margin: 0;
            padding: 0;
            position: absolute;
            text-align: left;
            font-size: 3em;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        #sign-upbtn {
        cursor: pointer;
        font-weight: bold;
        }

        #sign-upbtn:hover {
            cursor: pointer;
            font-style: italic;
        }

        #login-box {
            border: 1px solid black;
            background-color: #fff;
            position: absolute;
            right: 10px;
            top: 100px;
        }

        #sign-up-box {
            border: 1px solid black;
            background-color: #fff;
            position: absolute;
            right: 10px;
            top: 100px;
        }

        #sign-up-box input[type="text"] {
            display: block;
            padding: 2px;
        }

        #search-bar {
            margin-top: 20px;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #search-bar input[type="text"] {
            width: 200px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #search-bar select {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #search-bar button {
            padding: 5px 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        #total {
            display: inline;
        }

        #records-table {
            margin-top: 20px;
            border-collapse: collapse;
            width: 100%;
            padding: 20px;
        }

        .record-tile {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
    }

    .record-tile p {
        display: inline;
    }

    #record-price {
        float: right;
        font-weight: bold;
        color: green;
    }

    #record-cartbtn {
        padding: 5px 10px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        float: right;
        clear: right;
    }